{% extends "BroodjesBundle::layout.html.twig" %}

{# form render customization see http://symfony.com/doc/current/cookbook/form/form_customization.html #}
{% if orderform is defined %}
    {% form_theme orderform 'BroodjesBundle:Form:rows.html.twig' %}
{% endif %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('bundles/broodjes/css/orderform.css')}}">
{% endblock %}

{% block title %}{{parent()}}Bestel{% endblock %}

{% block content %}
<h1>Bestelling</h1>
<div class="container">
    <div>
        <div class="flash-container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                <h2>Waarschuwing !</h2>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('ordersuccess') %}
            <div class="flash-success">
                <h2>Succes !</h2>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
        </div>
        
        {% if order.orderitems is empty %}
        <div class="order">
            <h2>Winkelmandje</h2>
            <p>Winkelmandje is leeg</p>
        </div>
        {% else %}
            <div class="order">
                <h2>Winkelmandje</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Aantal</th>
                            <th>Beschrijving</th>
                            <th>Eenheidsprijs</th>
                            <th>Subtotaal</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="footerlabel">Totaal</td>
                            <td>{{ order.totalcost }} &euro;</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in order.orderitems %}
                        <tr>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <span>
                                    Type brood: {{ item.breadtype.description }}
                                </span>
                                <span>Toppings:</span>
                                <ul>
                                    {% for topping in item.toppings %}
                                        <li>{{topping.description}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ item.unitcost }} &euro;</td>
                            <td>{{ item.totalcost }} &euro;</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if orderconfirmform is defined %}
                {{form(orderconfirmform)}}
            {% endif %}
        {% endif %}
    </div>
    {% if orderform is defined %}
    <div class="newitem">
        {{ form_start(orderform) }}
        <h2>Nieuw broodje</h2>
        {{ form_row(orderform.breadtype, {'label':'Soort broodje' ,'attr':{'class':'breadtype'} }) }}
        {{ form_row(orderform.toppings, {'label':'Kies beleg' ,'attr':{'class':'toppings'} }) }}
        {{ form_row(orderform.quantity, {'label':'Aantal' ,'attr':{'class':'quantity'} }) }}
        {{ form_rest(orderform) }}
        {{ form_end(orderform) }}
    </div>
    {% endif %}
</div>
{% endblock %}