{% extends "BroodjesBundle::layout.html.twig" %}

{% block title %}{{parent()}}Bestel{% endblock %}

{% block content %}
<h1>Bestelling</h1>
<div class="container">
    <div>
        <h2>Winkelmandje</h2>
        {% for item in cart %}
        <div>
            {{ item.quantity }}
            {{ item.breadtype.description }}
            {% for topping in item.toppings %}
                {{topping.description}}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>Nieuw broodje</h2>
        {{ form(form) }}
    </div>
</div>
{% endblock %}