{% extends "BroodjesBundle::layout.html.twig" %}

{% block title %}{{parent()}}Bestelling voltooien{% endblock %}

{% block content %}
<h1>Bestelling voltooien</h1>
<div class="container">
    <div class="order">
        <h2>Bestelling voor vandaag</h2>
        <table>
            <thead>
                <tr>
                    <th>Aantal</th>
                    <th>Beschrijving</th>
                    <th>Eenheidsprijs</th>
                    <th>Subtotaal</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="3" class="footerlabel">Totaal</td>
                    <td>{{ order.totalcost }} &euro;</td>
                </tr>
            </tfoot>
            <tbody>
                {% for item in order.orderitems %}
                <tr>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <span>
                            Type brood: {{ item.breadtype.description }}
                        </span>
                        <span>Toppings:</span>
                        <ul>
                            {% for topping in item.toppings %}
                                <li>{{topping.description}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ item.unitcost }} &euro;</td>
                    <td>{{ item.totalcost }} &euro;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ form(form) }}
</div>
{% endblock %}