{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/broodjes/css/main.css')}}">
{% endblock %}

{% block title %}Broodjes - {% endblock %}

{% block body %}
<div class="container">
    <nav class="clearfix">
        <ul class="listleft clearfix">
            <li><a href="{{path('broodjes_homepage')}}">Home</a></li>
        </ul>
        <ul class="listright clearfix">
            {%if app.user%}
            <li><span>Aangemeld als {{app.user.username}}</span></li>
            <li><a href="{{path('fos_user_security_logout')}}">Afmelden</a></li>
            {%else%}
            <li><a href="{{path('fos_user_security_login')}}">Aanmelden</a></li>
            {%endif%}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}